<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="experience-panel">
                    {% if site.data.profile.education %}
                    <div class="experience-section mx-2 my-1">
                        <h6 class="experience-heading">Education</h6>
                        <ul class="list-unstyled mb-0">
                            {% for item in site.data.profile.education %}
                            <li class="media experience-entry experience-entry-featured">
                                <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" class="experience-logo mr-2 mt-1">
                                <div class="media-body">
                                    <div class="experience-name">{{ item.name }}</div>
                                    <div class="small">{{ item.dept }}</div>
                                    <div class="small experience-meta">
                                        <div>{{ item.position }}</div>
                                        <div class="experience-date no-break"><em>{{ item.date }}</em></div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if site.data.profile.employs %}
                    <div class="experience-section experience-section-divider mx-2">
                        <h6 class="experience-heading">Employment</h6>
                        <div class="row experience-grid">
                            {% for item in site.data.profile.employs %}
                            <div class="col-md-4 experience-grid-col">
                                <div class="media experience-entry experience-entry-tile">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" class="experience-logo mr-2 mt-1">
                                    <div class="media-body">
                                        <div class="experience-name">{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small experience-meta">
                                            <div>{{ item.position }}</div>
                                            <div class="experience-date no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.experience %}
                    <div class="experience-section experience-section-divider mx-2">
                        <h6 class="experience-heading">Experience</h6>
                        <ul class="list-unstyled mb-0">
                            {% for item in site.data.profile.experience %}
                            <li class="media experience-entry">
                                <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" class="experience-logo mr-2 mt-1">
                                <div class="media-body">
                                    <div class="experience-name">{{ item.name }}</div>
                                    <div class="small">{{ item.dept }}</div>
                                    <div class="small experience-meta">
                                        <div>{{ item.position }}</div>
                                        <div class="experience-date no-break"><em>{{ item.date }}</em></div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</div>
